<!--This is the child class inheriting parent class layout.html-->
{% extends "layout.html" %}

{% block content %}
<h1 style="text-align:center;">This is the stackoverflow question predictor</h1>
    <h3 style="text-align:center;">Place the question to find its label</h3>
    <br>
    <br>
    <br>

    <form action="{{url_for('model')}}" method="post">
        <div style="text-align:center;">
            <label for="ip">Your Question :</label>
            <input type="text" placeholder="Enter your question" name="ip">
        </div>    
        <br>
        <button type="submit" style="margin: auto;display:block;">Submit</button>
        <br>
        <br>
    </form>
    <h4 style="text-align: center;">The result will be displayed below</h4>
    <p id="demo" style="text-align: center;">{{title}}</p>
{% endblock %}